### 사전(dict) 
    가변형(mutable), 순서가 없다, 연관형, 매핑형, {} : 중괄호 사용
    {key : value, key : value, ... } : java 의 map 과 비슷
    [] : list 
    {} : 집합 (dictionary) 
    () : tuple
    key 는 반드시 immutable 형 이어야 한다 (숫자형, 문자열, Tuple)
    value 는 mutable, immutable 모두 사용 가능

In [9]:
a = {'name':'홍길동', '나이':30, 1:True, 'name':'배트맨'}   # 자바와 달리 key 와 value 의 자료형이 같지 않아도 된다
print(a)
print(a['name'], a['나이'], a[1])   # 중복시 나중에 들어온 값이 덮어씀

{'name': '배트맨', '나이': 30, 1: True}
배트맨 30 True

In [11]:
# 요소수정 
a['name'] = '아이언맨'
a['나이'] = 45
print(a)

{'name': '아이언맨', '나이': 45, 1: True}

In [26]:
# 요소 추가
a['주소'] = '미국'
a['직업'] = '사업가'
# a[[1,2,3]] = '데이터'  # TypeError
a[(1,2,3)] = '튜플데이터' # 튜플은 key 값으로 사용 가능
print(a)

{'name': '아이언맨', '나이': 45, 1: True, '직업': '사업가', '주소': '미국', (1, 2, 3): '튜플데이터'}

In [24]:
# 제거
del a['주소']
print(a)
del a[(1,2,3)]
print(a)

{'name': '아이언맨', '나이': 45, 1: True, '직업': '사업가', (1, 2, 3): '튜플데이터'}
{'name': '아이언맨', '나이': 45, 1: True, '직업': '사업가'}

In [41]:
# 연산자
print(a.keys())        # key 값이 dict_keys
print(type(a.keys()))  # <class 'dict_keys'>
print(list(a.keys()))  # dict_keys를 list로 형변환 해주어야 한다

print(a.values())       # key 값이 dict_values
print(type(a.values())) # <class 'dict_values'>
print(list(a.values())) # dict_values를 list로 형변환 해주어야 한다

print(a.items())        # key 값이 dict_items
print(list(a.items()))

dict_keys(['name', '나이', 1, '직업', '주소', (1, 2, 3)])
<class 'dict_keys'>
['name', '나이', 1, '직업', '주소', (1, 2, 3)]
dict_values(['아이언맨', 45, True, '사업가', '미국', '튜플데이터'])
<class 'dict_values'>
['아이언맨', 45, True, '사업가', '미국', '튜플데이터']
dict_items([('name', '아이언맨'), ('나이', 45), (1, True), ('직업', '사업가'), ('주소', '미국'), ((1, 2, 3), '튜플데이터')])
[('name', '아이언맨'), ('나이', 45), (1, True), ('직업', '사업가'), ('주소', '미국'), ((1, 2, 3), '튜플데이터')]

In [46]:
print(a['name'])
print(a.get('name'))  # 동일한 결과

# a['hobby']  # key 가 없으면 keyError
ret = a.get('hobby') # key 가 없으면 None
print(a.get('hobby', '독서'))

아이언맨
아이언맨
독서

In [48]:
# 추가
d = {'gender':'남성', 'ten':10}
a.update(d)     # 새로운 dictionary 의 요소를 추가 (중복시 덮어씀)
print(a)

{'name': '아이언맨', '나이': 45, 1: True, '직업': '사업가', '주소': '미국', (1, 2, 3): '튜플데이터', 'gender': '남성', 'ten': 10}

In [49]:
# 제거
ret = a.pop('ten')  # key 'ten' 의 value 10 반환 후 제거
print(ret)
print(a)

10
{'name': '아이언맨', '나이': 45, 1: True, '직업': '사업가', '주소': '미국', (1, 2, 3): '튜플데이터', 'gender': '남성'}

In [50]:
a.clear()  # 모든 요소 제거
a

{}

In [51]:
# 사전 내장(dict comprehension)
a = {k:1 for k in 'abcdef' if k != 'c'}  # {'a': 1, 'b': 1, 'd': 1, 'e': 1, 'f': 1}
print(a)

{'a': 1, 'b': 1, 'd': 1, 'e': 1, 'f': 1}

In [54]:
b = ['name', 'age', 'phone', 'birth', 10, '직업']
a = {k:0 for k in b} 
print(a)   # {'name': 0, 'age': 0, 'phone': 0, 'birth': 0, 10: 0, '직업': 0}

{'name': 0, 'age': 0, 'phone': 0, 'birth': 0, 10: 0, '직업': 0}

In [64]:
a1 = ['name', 'age', 'phone', 'birth', 10]
a2 = ['김철수', 20, '010-1234-1234', '20200519', 500]

# zip() 함수
print(list(zip(a1,a2))) # [('name', '김철수'), ('age', 20), ('phone', '010-1234-1234'), ('birth', '20200519'), (10, 500)]

# 두개의 서로 다른 리스트를 사용하여 한 개의 사전을 생성
a = {k : v for k , v in zip (a1, a2)}
print(a)

[('name', '김철수'), ('age', 20), ('phone', '010-1234-1234'), ('birth', '20200519'), (10, 500)]
{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20200519', 10: 500}

In [59]:
# enumerate() 함수 : 인덱스와 요소값을 함께 튜플로 변환
s = 'abcdefg'
for i,k in enumerate(s):
    print(i,k)
a = {k:i for i,k in enumerate(s)}
print(a)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6}